services:
  mysql:
    platform: linux/x86_64
    image: mysql:8.0.27
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: mysql
      MYSQL_DATABASE: locky
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      TZ: 'Asia/Tokyo'
  phpmyadmin:
    platform: linux/x86_64
    image: phpmyadmin
    depends_on:
      - mysql
    environment:
      - PMA_ARBITRARY=1
      - PMA_HOSTS=mysql
      - PMA_USER=root
      - PMA_PASSWORD=mysql
    ports:
      - "3001:80"
  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    command: ["redis-server", "--port", "6379", "--requirepass", "mysecretpassword", "--user", "default", "on", ">mysecretpassword", "+@all", "~*"]
  
  # Swagger UI for API documentation
  swagger-ui:
    image: swaggerapi/swagger-ui:latest
    container_name: locky-swagger-ui
    ports:
      - "3002:8080"
    environment:
      - SWAGGER_JSON=/swagger/swagger.yaml
    volumes:
      - ./docs/swagger:/swagger:ro
  
  # Go documentation server
  godoc:
    image: golang:1.24
    container_name: locky-godoc
    ports:
      - "3003:6060"
    volumes:
      - .:/go/src/github.com/ryo-arima/locky:ro
    working_dir: /go/src/github.com/ryo-arima/locky
    command: ["sh", "-c", "go install golang.org/x/tools/cmd/godoc@latest && godoc -http=:6060"]
  
  # LocalStack for AWS services emulation
  localstack:
    image: localstack/localstack:latest
    container_name: locky-localstack
    ports:
      - "4566:4566"  # LocalStack edge port
      - "4510-4559:4510-4559"  # External services port range
    environment:
      - SERVICES=secretsmanager
      - DEBUG=1
      - DOCKER_HOST=unix:///var/run/docker.sock
    volumes:
      - "./scripts:/etc/localstack/init/ready.d"
      - "./etc:/etc/localstack/init/etc:ro"
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "localstack-data:/var/lib/localstack"
  
  # LocalStack Web UI for managing AWS services
  localstack-ui:
    image: localstack/localstack-ui:latest
    container_name: locky-localstack-ui
    ports:
      - "3004:8080"
    environment:
      - LOCALSTACK_URL=http://localstack:4566
    depends_on:
      - localstack

volumes:
  localstack-data: